/* Contact Me Section */
    .contact{
        background: black;
    }
    .contact .content{
        margin: 0 auto;
        padding: 30px 0;
    }
    .contact .text{
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .scroll-button a{
        position: fixed;
        bottom: 20px;
        right: 20px;
        color:white;
        background: #b74b4b;
        padding: 7px 12px;
        font-size: 18px;
        border-radius: 6px;
        box-shadow: black(0,0,0,0.15);
        display: none;
    }
    @media (max-width: 1000px){
        .about .about-details{
            justify-content: center;
            flex-direction: column;
        }
        .about .about-details .left{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .about-details .right{
            width: 90%;
            margin: 40px 0;
        }
        .services .boxes .box{
            margin: 20px 0;
            width: calc(100% / 2 - 20px);
        }
    }

    @media (max-width: 900px){
        .about .left img{
            height: 350px;
            width: 350px;
        }
    }

    @media (max-width: 968px){

        nav.logo{
            position: absolute;
            top: 16px;
            left: 15px;
            font-size: 1.5rem;
        }

        section .main-container{
            padding-left: 0px;
            display: flex;
            flex-direction: column;
        }

        .nav-container .links{
            display: none;
        }

        .hamburg,
        .cancel{
            opacity: 1;
            pointer-events: visible;
        }

        .main-container .content{
            margin-top: 20px;
            width: 80%;
        }

        .social-links i{
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.5rem;
        }

        .main-container .image{
            z-index: -1;
            width: 50%;
            height: 60%;
        }

        .skills .skills-details{
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .skills-details .text{
            width: 100%;
            margin-bottom: 50px;
        }

        .skills-details .boxes{
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .services .boxes .box{
            margin: 20px 0;
            width: 100%;
        }
        .contact .text{
            width: 100%;
        }
    }
    
    @media (max-width:500px){
        main-container .image{
            width: 50%;
            height: 60%;
            margin-bottom: 0px;
        }

        .main-container .content{
            width: 80%;
        }

        .main-container button{
            margin-top: 15px;
        }

        .skills-details .boxes .per{
            font-size: 50px;
            color:#b74b4b;
            
        }
    }
